<div id="aboutwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
        </div>
      </div>
    </div>
    
</div>

<div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>HITOTABIとは...</h2>
        <p>ヒトタビは海外を中心とした「ひとり旅」をテーマにしたwebサイトです。<br>
　　　　　　「1人で海外に行って見たいけど、勇気が出ない..」「何かあった時が心配..」<br>
           などの不安を、ひとり旅経験したユーザーが旅に役立つアドバイスを教えてくれるかも知れません<br>
                       ひとり旅での楽しみかたはあなた次第です！<br>
                       <br>

           <strong class="crayon">記事閲覧、投稿には簡単なユーザー登録が必要です。</strong></p>
      </div>

    </div>
</div>