<div id="headerwrap">
    <div class="container">
          <div class="image1"></div>
          <div class="image2"></div>
          <div class="image3"></div>
          <h3>Life is a journey</h3>
          <h3>It’s about the journey, not the destination</h3>
    </div>
</div>


<div class="container">
  <br>
    <div class="row">
      <br>
        <h1 class="centered">RECOMMEND</h1>
        <hr>
      <br>
      <br>
   </div>
</div>   
        <%= render 'articles/index' %>


  <h2 class="centered"><%= link_to "Read More..", articles_path %></h2>



