<div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4>Life is a journey</h4>
          <h4>It’s about the journey, not the destination</h4>
        </div>
      </div>
    </div>
    
</div>
<div class="container">
  <br>
    <div class="row">
      <br>
        <h1 class="centered">RECOMMEND</h1>
        <hr>
      <br>
      <br>
        <%= render 'articles/index' %>
    </div>
</div>


