
  <div id="g">
    <div class="container">
      <div class="row">
        <h3><i>Travelers Blog</i></h3>
        <br>
        <br>
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
         
          <br>
          <br>
        </div>
        <div class="col-lg-2"></div>
        <% @articles.each do |article| %>

        <div class="col-lg-3 team">
          <img class="img-circle" src="img/team01.jpg" height="90" width="90">
          <h4><%= article.user.name %></h4>
          <h5><%= article.user.job %></h5>
          <strong><%= article.title %></strong>
          <p><%= render_with_tags(article.hashbody) %></p>
        </div>
        <% end %>
        
      </div>
    </div>

  </div>