
<% @articles.each do |article| %>
<%# article.tags.each do |tag| %>
<div class="row">
      <div class="col-lg-6 blog-bg">
        <div class="col-lg-4 centered">
          <br>
          <p><!-- プロフィール写真挿入予定 --></p>
          <h4><%= article.user.name %></h4>
          <h5><%#= link_to tag.tag_name, articles_path %></h5>
        </div>
        <div class="col-lg-8 blog-content">
          <h2><%= article.title %></h2>
          <!-- html_safeでhtml形式のcontent(本文)がちゃんと表示されるようにする -->
          <p><%= article.content.html_safe %></p>
          <p><%= link_to "Read More", article_path(article.id) %></p>
          <br>
      </div>
</div>
   

<%# end %>    
<% end %>
  
    </div>
    <br>
    <br>
  </div>