
       <div class="container">
        <div class= "col-xs-12 col-lg-12 col-md-12 col-sm-12">
            <div class= "hash-tag">
                <% tags.sort.reverse.each do |count| %>
                    <% count[1].each do |tag| %>
                        <p><%= link_to  "##{tag.tag_name} (#{tag.articles.count}) 件","/article/tag/#{tag.tag_name}",data: {"turbolinks" => false} %></p>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>