

<% if @search_articles %>
  <%= render 'search' %>
  <div class="paginate"><%= paginate @articles %></div>
<% else %>
  <%= render 'index' %>
  <div class="paginate"><%= paginate @articles %></div>
<% end %>