<div class="container">
    <div class="tag-index">
  	   <div class="row">
          <% if params[:name] == nil %>
          <% else %>
          <% @articles.each do |article| %>
           <%= article.title %>
           <% end %>

            <%= render 'tag' %>
          <% end %>
       </div>
    </div>
</div>