
現在準備中
 <%# @parents.each do |parent| %>
  <!-- <p><%#= parent.name %></p>
  <%# parent.children.each do |child| %>
      <p><%#= child.name %></p>
    <%# child.children.each do |grandchild| %>
      <p><%#= grandchild.name %></p> -->
      <%# end %>
      <%#end %>
      <%# end %>