
<% @parents.each do |parent| %>
		    <h2><%= parent.name %></h2>
	<% parent.children.each do |child| %>
			<h4><%= child.name %></h4>
		<% child.children.each do |grandchild|%>
			<p><%= grandchild.name %></p>
		<% end %>
	<% end %>
<% end %>



