#aboutwrap {
	background-image: image-url("TSU413007_TP_V4.jpg");
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 550px;
	width: 100%;
    background-size: 100%;
    background-size: cover;
}

.crayon {
  box-shadow: 0px -10px 10px -5px rgba(247,198,104,0.7) inset,0px 10px 5px -3px #f7c668;
  font-weight: bold
}