/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "font-awesome";

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/*header*/

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #1abc9c;
}

.navbar-default {
	border-color: transparent;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #1abc9c;
}

.navbar-default .navbar-toggle {
  border: none;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover {
  background: #666;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}


/*footer*/

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: whitesmoke;
	text-align: center;

}

#social i {
	font-size: 40px;
	color: #4a4a4a;
	padding-left: 8em;
}

#social i:hover {
	color: #1abc9c
}
