/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/
@import "summernote-bs4";
@import "summernote-custom-theme.min";
@import "font-awesome";


@font-face {
  font-family: "Shadows";
  src: asset_url('ShadowsIntoLight-Regular.ttf') format("truetype");
  font-family: "Raleway-Black";
  src: asset_url('Raleway-Black.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*header*/

.logout {
   text-align: right;
}

.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
	color: #1abc9c;
}

.navbar-default {
	border-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

li {
  margin-top: 5px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #1abc9c;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #fff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #1abc9c;
}

.navbar-default .navbar-toggle {
  border: none;
  border-color: #fff;
}

.navbar-default .navbar-toggle:hover {
  background: #666;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}


/*footer*/

footer {
  margin-top: auto;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: dimgray;
	text-align: center;

}

#social i {
	font-size: 40px;
	color: #F5F5F5;
	padding-left: 8em;
}

#social i:hover {
	color: #1abc9c
}

#h {
  margin-top: 10%;
  background: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
}


.g {
  background: #f2f2f2;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  opacity : 0;
  transform : translate(0, 100px);
  transition : all 1s;
}

.g.active{
  opacity : 1;
  transform : translate(0, 0);
}

.team {
  padding-top: 20px;
}

.team:hover {
  background: white;
}

.team a {
  padding-right: 10px;
  padding-left: 10px;
}

#likes_button {
  position: fixed;
  right: 20px;
  bottom: 20%;
}

/*検索フォーム*/


.modal-dialog-fluid {
  max-width: inherit;
  width: 98%;
  margin-left: 15px;
}
.search {
  height: 50px;
}

button {
  margin-top: 5px;
  background-color: transparent;
  border: none;
  margin-bottom: 5px;
}

.glyphicon-search {
  color: white;
}

/*ページネーション*/
.paginate {
  text-align: center;
}


.title-font {
    font-family: "Raleway-Black";
    color: white;
}