 h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.image1 {
  background-image: image-url("shutterstock_364966055.jpg");
}
.image2 {
  background-image: image-url("shutterstock_676088749.jpg");
}
.image3 {
  background-image: image-url("shutterstock_1114304309.jpg");
}
.image4 {
  background-image: image-url("shutterstock_326147357.jpg");
}
.image5 {
  background-image: image-url("shutterstock_219076456.jpg");
}
.image6 {
  background-image: image-url("shutterstock_120633745.jpg");
}

#headerwrap {
  font-family: "Shadows";
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 850px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-size: cover;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
}

#headerwrap h4 {
	font-weight: 400;
	color: #ffffff
}

@media (max-width: 768px) {
  #headerwrap {
    padding-top: 180px;
  }
}

.fa-large
{
	font-size: 45px ;
	color: white;
}
/*ヘッダーここまで*/



/*一覧*/
.blog-bg {
  background: #2b2b2b;
  padding-right: 0px;
  padding-left: 0px;
}

.blog-bg h4 {
  color: #dadada;
  padding-top: 0px;
}

.blog-bg h5 {
  color: #dadada;
  font-size: 11px;
}

.blog-content {
  padding-top: 10px;
  background: #f2f2f2;
}

.centered {
    text-align: center;
}

.index-form {
  text-align: center;
  background: #f2f2f2;
  
}

.fas fa-search {
  background-color: black
}

.title-link {
  color: black;
}
